apricot-select
cloudpickle
contourpy
cycler
datetime
et-xmlfile
filelock
fonttools
fsspec
Jinja2
joblib
kiwisolver
llvmlite
MarkupSafe
matplotlib
mpmath
networkx
nose
numba
openpyxl
packaging
pandas
pgmpy
pomegranate
pyAgrum
pydot
pyparsing
python-dateutil
pytz
seaborn
scikit-learn
scipy
sciris
six
sympy
threadpoolctl
torch
tqdm
typing_extensions
tzdata
xlsxwriter
graphlib
matplotlib_inline
cairosvg
pgmpy
# numpy==1.25.2
numpy